body{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #687cff;

    font-family: 'Merriweather', serif;
}

header{
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: #f0f0f0;
    font-size: 22px;
}

main{
    width: 99%;
    height: 100%;
}

.container{
    background-color: #cccbc7;
    margin: 0 auto;
    width: 900px;
    height: 720px;
    margin-top: 50px;
    border: 2px solid black;
}

.msg-output{
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px auto;
    width: 870px;
    height: 650px;

    display: flex;
    flex-direction: column-reverse;
}

*:focus{
    outline: none;
}

.msg-input{
    margin: 0 auto;
    width: 870px;
    height: 40px;
}

::placeholder{
    color: black;
}

#msg{
    width: 250px;
    height: 30px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #c3c3c3;;
    color: black;
    margin-right: 50px;
}

.msg-container{
    width: 400px;
    margin: 0 auto;
    height: 40px;
}

.msg-text{
    border-top: 1px solid black;
    padding-left: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.msg-text span{
    margin: 16px;
}

.error{
    border: 1px solid red !important;
}